/* ==================
Gobal style section
===================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --white: #ffffff;
    --red: #fc3d39;
    --redFocus: #fc3d39;
    --greenFocus: #4aad38;
    --blue: #5ba4fc;
    --blueFocus: #4987dd;
    --greyTextColor: #5c5c5c;
    --lightGrey: #afafaf;
    --mediumGray: #8b8b8b;
}

::selection {
    background-color: var(--greyTextColor);
    color: var(--white);
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    color: var(--greyTextColor);
    font-family: 'Inter', sans-serif;
}

h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--blue);
    transition: all 0.2s ease-in;
}

a:hover {
    color: var(--blueFocus);
}

button {
    border: 0;
    color: var(--white);
    padding: 0.8rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

button:hover {
    cursor: pointer;
}

input,
select {
    background-color: var(--white);
    border: 1px solid var(--lightGrey);
    border-radius: 4px;
    color: var(--greyTextColor);
    padding: 0.7rem 1rem;
    outline: transparent;
}

input:focus,
select:focus,
button:focus {
    outline: 1px solid var(--greenFocus);
}

/* ==================
Components style section
===================== */
.container {
    padding: 4rem 1rem;
    max-width: 770px;
    margin: auto;
}

.app__title {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--lightGrey);
    text-align: center;
    font-weight: 700;
}

.app__subtitle {
    font-size: 1.5rem;
    color: var(--blue);
    text-align: center;
    font-weight: 700;
    padding-block: 0 2rem;
}

.form__buttons--wrapper,
.receipt__buttons--wrapper {
    padding-block-start: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__button--secondary,
.receipt__button--secondary {
    background-color: var(--mediumGray);
    flex-grow: 1;
}

.form__button--secondary:hover,
.receipt__button--secondary:hover {
    background-color: var(--greyTextColor);
}

.form__button--primary,
.receipt__button--primary {
    flex-grow: 1;
    background-color: var(--blue);
}

.form__button--primary:hover,
.receipt__button--primary:hover {
    background-color: var(--blueFocus);
}

/* ==================
Order style section
===================== */
.form {
    display: grid;
    gap: 0.5rem;
}

.form__name--wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__order--wrapper {
    padding-block: 1rem;
    display: grid;
    gap: 1rem;
}

.form__order--title {
    padding-block: 0.5rem;
}

.form__order--list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.item--wrapper,
.price--wrapper,
.quantity--wrapper,
.delete--wrapper {
    flex-grow: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex-direction: column;
}

.item-wrapper {
    flex-basis: 8rem;
}

.price--wrapper,
.quantity--wrapper,
.delete--wrapper {
    flex-basis: 2rem;
}

.delete {
    flex-grow: 1;
    background-color: var(--red);
}

.delete:hover {
    background-color: var(--redFocus);
}

.form__total--wrapper {
    display: flex;
    gap: 1rem ;
    align-items: center;
    justify-content: flex-end;
}

.form__total {
    color: var(--blue);
    font-weight: 700;
}

/* ==================
Receipt style section
===================== */
.receipt__section {
    padding-block: 10rem 5rem;
    text-align: center;
    font-size: 0.8rem;
    display: none;
}

.receipt__section--show {
    display: block;
}

.receipt__header--wrapper {
    margin-block: -20px 0;
    font-size: 0.7rem;
}

.receipt__customer--wrapper {
    padding: 2rem 0;
}

.receipt__customer--name,
.receipt__customer--currency {
    font-weight: 700;
    color: var(--blue);
}

.receipt__content--title {
    display: flex;
    justify-content: space-between;
}

.receipt__order--wrapper {
    display: grid;
    gap: 0.2rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid var(--lightGrey);
}

.receipt__order--content div {
    display: flex;
    justify-content: space-between;
}

.receipt__total--wrapper {
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;
    font-weight: 700;
}

.receipt__total--wrapper p {
    color: var(--blue);
}

.receipt__footer--wrapper {
    padding-block: 2rem;
    font-size: 0.7rem;
}

/* ==================
State style section
===================== */
.error-message {
    height: 9px;
    padding: 0.1rem 0.2rem 0.4rem 0.2rem;
    margin-block-start: -6px;
    color: var(--red);
    font-size: 0.6rem;
}

.disabled {
    background-color: var(--lightGrey);
    text-decoration: line-through;
}

.disabled:hover {
    cursor: not-allowed;
    background-color: var(--lightGrey);
}

/* ==================
Responsiveness style section
===================== */
@media(min-width: 320px){
    .container {
        padding-inline: 2rem;
    }
}

@media(min-width: 440px){
    .container {
        padding-block: 8rem 2rem;
    }
    .form__buttons--wrapper,
    .receipt__buttons--wrapper {
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media(min-width: 770px){
    .container {
        padding-block: 12rem 3rem;
    }
    .form__buttons--wrapper,
    .receipt__buttons--wrapper {
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media print {
    .form__button--primary,
    .receipt__button--primary,
    .form__button--secondary,
    .receipt__button--secondary {
        display: none;
    }
}