@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --white: #ffffff;
    --red: #fc3d39;
    --redFocus: #fc3d39;
    --green: #62c450;
    --greenFocus: #4aad38;
    --blue: #5ba4fc;
    --blueFocus: #4987dd;
    --greyTextColor: #5c5c5c;
    --lightGrey: #afafaf;
}

::selection {
    background-color: var(--greyTextColor);
    color: var(--white);
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    color: var(--greyTextColor);
    font-family: 'Inter', sans-serif;
}

h3 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--blue);
    transition: all 0.2s ease-in;
}

a:hover {
    color: var(--blueFocus);
}

button {
    border: 0;
    color: var(--white);
    padding: 0.7rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

button:hover {
    cursor: pointer;
}

input,
select {
    background-color: var(--white);
    border: 1px solid var(--lightGrey);
    border-radius: 4px;
    color: var(--greyTextColor);
    padding: 0.7rem 1rem;
    outline: transparent;
}

.container {
    padding: 4rem 1rem;
}

.app-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--lightGrey);
    text-align: center;
    font-weight: 700;
}

.app-subtitle {
    font-size: 1.5rem;
    color: var(--blue);
    text-align: center;
    font-weight: 700;
    padding-block: 0 2rem;
}

.form {
    display: grid;
    gap: 0.5rem;
}

.customer-name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.order-list {
    display: grid;
    gap: 1rem;
}

.order-title {
    padding-block: 0.5rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.item-wrapper,
.price-wrapper,
.quantity-wrapper,
.delete-wrapper {
    flex-grow: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex-direction: column;
}

.item-wrapper {
    flex-basis: 8rem;
}

.price-wrapper {
    flex-basis: 2rem;
}

.quantity-wrapper {
    flex-basis: 2rem;
}

.delete-wrapper {
    flex-basis: 2rem;
}

.delete {
    flex-grow: 1;
    background-color: var(--red);
}

.delete:hover {
    background-color: var(--redFocus);
}

.error-message {
    height: 9px;
    padding: 0.1rem 0.2rem 0.4rem 0.2rem;
    margin-block-start: -6px;
    color: var(--red);
    font-size: 0.6rem;
}

.total {
    display: flex;
    gap: 1rem ;
    align-items: center;
    justify-content: flex-end;
}

.total p {
    color: var(--blue);
}

.total-amount {
    font-weight: 700;
}

.calculate-button {
    height: fit-content;
    background-color: var(--green);
}

.calculate-button:hover {
    background-color: var(--greenFocus);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.secondary-button {
    background-color: #8b8b8b;
}

.secondary-button:hover {
    background-color: #5c5c5c;
}

.primary-button {
    background-color: var(--blue);
}

.primary-button:hover {
    background-color: var(--blueFocus);
}






.receipt-section {
    padding-block: 10rem 5rem;
    text-align: center;
    font-size: 0.8rem;
    display: none;
}

.show-receipt-section {
    display: block;
}

.receipt-header {
    margin-block: -20px 0;
    font-size: 0.7rem;
}

.receipt-customer-info {
    padding: 2rem 0;
}

.receipt-customer-info span {
    font-weight: 700;
    color: var(--blue);
}

.receipt-content-order {
    display: grid;
    gap: 0.2rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid var(--lightGrey);
}

.receipt-content-order div {
    display: flex;
    justify-content: space-between;
}

.receipt-content-title {
    display: flex;
    justify-content: space-between;
}

.receipt-total {
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;
    font-weight: 700;
}

.receipt-total p {
    color: var(--blue);
}

.receipt-footer {
    padding-block: 2rem;
    font-size: 0.7rem;
}

.disabled {
    background-color: var(--lightGrey);
    text-decoration: line-through;
}

.disabled:hover {
    cursor: not-allowed;
    background-color: var(--lightGrey);
}